{% extends 'base.html.twig' %}

{% block title %}Casting index{% endblock %}

{% block body %}
    <h1>Casting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for casting in castings %}
            <tr>
                <td>{{ casting.id }}</td>
                <td>{{ casting.nom }}</td>
                <td>{{ casting.prenom }}</td>
                <td>
                    <a href="{{ path('app_admin_casting_show', {'id': casting.id}) }}">show</a>
                    <a href="{{ path('app_admin_casting_edit', {'id': casting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_casting_new') }}">Create new</a>
{% endblock %}
