{% extends 'base.html.twig' %}

{% block title %}Casting{% endblock %}

{% block body %}
    <h1>Casting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ casting.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ casting.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ casting.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_casting_index') }}">back to list</a>

    <a href="{{ path('app_admin_casting_edit', {'id': casting.id}) }}">edit</a>

    {{ include('admin_casting/_delete_form.html.twig') }}
{% endblock %}
